/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Body Dark Background */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Heading */
#heading {
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Calculator Box */
.calculator {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 
    0 0 20px rgba(0,0,0,0.5),
    inset 0 0 10px rgba(255,255,255,0.05);
}

/* Display Box */
.display {
  margin-bottom: 20px;
}

.display input {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #020617;
  color: #38bdf8;
  font-size: 28px;
  text-align: right;
  padding: 15px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

/* Button Row */
.row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

/* Buttons */
button {
  flex: 1;
  height: 55px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* Hover Effect */
button:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}

/* Click Effect */
button:active {
  transform: scale(0.95);
}

/* Operator Buttons */
.opr {
  background: linear-gradient(135deg, #06b6d4, #2563eb);
}

/* Equal Button */
#eqBtn {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  font-weight: bold;
}

/* Plus Minus Button */
#plusMinus {
  background: linear-gradient(135deg, #f59e0b, #ea580c);
}
